@inject IJSRuntime JS

@page "/"
@using chokolocos.Web.Models

<PageTitle>chokolocos</PageTitle>

@* page content *@
<div class="bg-image">
</div>

<div class="container-fluid">
    <img class="rounded mx-auto d-block" src="img\chokolocos_logo.png" alt="logo chokolocos" style="max-height:150px; max-width:90%;" />


    <div class="content">
        <h1 class="sweets-delight display-2">Nuestros mejores productos</h1>
        <hr />
        <div class="row">
            @* item 1 *@

            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/CgIVf4YrHUK/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">
                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="https://scontent-qro1-1.cdninstagram.com/v/t51.82787-15/623968267_18091468628297510_5081652201478684211_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=105&ig_cache_key=Mjg3NTkyNTc5OTQ5NDMwNTkwOQ%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTYxMC5zZHIuQzMifQ%3D%3D&_nc_ohc=qc3J79Sc7JcQ7kNvwEo9Gap&_nc_oc=Adks1RmuVzMsoLt4EoxWsrK4yirGMe4yIaaG8Bvh_w6bAsl05gIklXWp9ptbRTasm54&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-1.cdninstagram.com&_nc_gid=ZKLu8BL12-GQj1ISkG9BvA&_nc_ss=8&oh=00_AfzlsVxPh8ZZsLTikDOPwgR3SBe8i5jlaYY45jvj_BQEtQ&oe=69B90C2E" class="card-img-top slide active" alt="Item picture" />
                            <img src="https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/621813004_18054181637416485_6828340204147892360_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=106&ig_cache_key=Mjg4NDY1MDExMTE1NDgxMjE3MA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=jNJn-nlt8fgQ7kNvwG-O6BX&_nc_oc=AdnGZOsFLtCkAROvpmd92H0lfd7wqvXqGoF2NzR12aXRNvRnnpNzkKAEklNB0Uae-0c&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=qrGL1KX6evGvJ8OPWpMsmQ&_nc_ss=8&oh=00_AfwBFVATUFlfUcKSHxpzX0tNmlmUqLYrUNvn2X7hiybMmQ&oe=69B8F75A" class="card-img-top slide " alt="Item picture" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Pastel Conejito turin
                            </h5>
                            @*  <button role="button" class="insta-link p-1">
                                <i class="fab fa-instagram "></i>
                                <span class="card-text">
                                    Ver
                                </span>

                            </button> *@
                        </div>
                    </div>
                </a>
            </div>

            @* item 2 *@
            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/CwgPOInvtQC/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">
                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/618590219_17941008926981900_8863427213635753003_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08_tt6&_nc_cat=109&ig_cache_key=MzE3OTYwODI3ODk1MDY2MzE3MA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=ubJiH_MMI_sQ7kNvwFG1lPk&_nc_oc=Adm9D64BtbD8Db9UhalxohXuXqTrkdERpKMCu0ZgX58AypMQ5AxUHrKBIFZAbEXkulo&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=Y7W37HT5LbplDlZWOuT0zQ&_nc_ss=8&oh=00_Afx-lzjlmtk9_-NMoCZBKRPFHcO6AQDBVf9a2x6-LrYzDw&oe=69B920FD" class="card-img-top slide active" alt="Item picture" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Pastel Red Velvet</h5>
                        </div>
                    </div>
                </a>
            </div>

            @* item 3 *@
            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/C8no7-XN7ss/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">

                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/624819973_18089695360845330_3493967100711645061_n.webp?_nc_cat=106&ig_cache_key=MzM5Nzg2NDQ4NzE0NTQyMTYxMg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=fa3jWy4EYAMQ7kNvwGzxOTE&_nc_oc=AdmLsaNVJ3Fhjn0byqBO3bYk3p3KUWOuv5q4yxCIOrrCd56uB7iOF_JXL4SLYp9y1_k&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=PMCjE3dWe4aDj7mJPzuJ8w&_nc_ss=8&oh=00_AfxQ0MsHGN1tpHUXhoh8_JPaAohGf1r7k5PCsqYYqE5lBA&oe=69B92CF6" class="card-img-top slide active" alt="Item picture" />
                            <img src="https://scontent-qro1-1.cdninstagram.com/v/t51.82787-15/623663560_18087713420104413_5068635560519331927_n.jpg?stp=dst-jpg_e35_s1080x1080_tt6&_nc_cat=105&ig_cache_key=MzE5ODQ5MzA4ODg5NTkzNTAzNw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTA4MC5zZHIuQzMifQ%3D%3D&_nc_ohc=uKX599xJCp0Q7kNvwFIDdHv&_nc_oc=Adnp6D5BybvK7d0z95RXhLKVVYkQwJr-R_leF-dsGqHa-nk-9FmtgvjrIUSDP9hqE2Q&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-1.cdninstagram.com&_nc_gid=Y7W37HT5LbplDlZWOuT0zQ&_nc_ss=8&oh=00_AfzQ704poc4eKOqrgf4lKZ9BLnRZNIaWrv8DuTroCyuG4A&oe=69B91757" class="card-img-top slide" alt="Item picture" />

                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Cupcakes Personalizados</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        
        <br />
        <h1 class="sweets-delight display-2">Galletas</h1>
        <hr />
        <div class="row">
            @foreach (var item in NewItems)
            {
                @* <div class="tarjeta-articulo reveal">
                    <div class="carrusel" data-intervalo="3000">
                        @for (int i = 0; i < item.Pictures.Count; i++)
                        {
                            <img src="@item.Pictures[i]" class="slide @(i == 0 ? "active" : "")" alt="@item.Name" />
                        }
                    </div>
                    <div class="info">
                        <h3>@item.Name</h3>
                        <p>ID: @item.Id</p>
                    </div>
                </div> *@
                <div class="col-lg-3 col-md-4 col-sm-12 reveal">
                    <a href="@item.Link" class="no-link">
                        <div class="card mb-3">
                            <div class="carrusel d-flex">
                                @for (int i = 0; i < item.Pictures.Count; i++)
                                {
                                    <img src="@item.Pictures[i]" class="card-img-top slide @(i == 0 ? "active" : "")" alt="@item.Name" />
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    @item.Name
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>

    
    <hr />
    @* Social *@
    <section class="mt-3">
        <h5 class="text-center">
            Enterate de las novedades y siguenos en nuestras redes
            <img src="https://images.emojiterra.com/google/noto-emoji/animated-emoji/1f49e.gif" class="img-gif" />
        </h5>

        @* links *@
        <div class="d-flex justify-content-center">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #3b5998;" href="https://www.facebook.com/103492021490449" target="_blank">
                <i class="fab fa-facebook-f fa-2x"></i>
            </a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #ac2bac;" href="https://www.instagram.com/choko.locos" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>

            <!-- Tiktok -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #333333;" href="https://www.tiktok.com/@@chokolocos.2" target="_blank">
                <i class="fab fa-tiktok fa-2x"></i>
            </a>

            <!-- Whatsapp -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #25d366;" href="https://wa.me/15531914321" target="_blank" role="button">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>

        </div>
    </section>

    <section class="row">
        @* Facebook page *@
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
            <span class="d-flex">
                <a href="https://www.facebook.com/103492021490449" class="mx-auto">
                    <h4 class="sweets-delight display-4">Facebook</h4>
                </a>
            </span>
            <iframe src="https://widgets.sociablekit.com/facebook-page-posts/iframe/25662907" frameborder="1" width="100%" height="500px"></iframe>
        </div>

        @* Instagram page *@
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
            <span class="d-flex">
                <a href="https://www.instagram.com/choko.locos" class="mx-auto">
                    <h4 class="sweets-delight display-4 ">Instagram</h4>
                </a>
            </span>
            <iframe src="https://widgets.sociablekit.com/instagram-feed/iframe/25662901" frameborder="1" width="100%" height="500px"></iframe>
        </div>
    </section>
    <br />
</div>


<script>
    window.inicializarCatalogo = () => {
    // 1. Animación de Scroll
    const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
    entry.target.classList.add("visible");
    }
    });
    }, { threshold: 0.1 });

    document.querySelectorAll(".reveal").forEach(el => observer.observe(el));

    // 2. Lógica de Carrusel para cada tarjeta
    document.querySelectorAll(".carrusel").forEach(carrusel => {
    const slides = carrusel.querySelectorAll(".slide");
    if (slides.length > 0) {
    slides[0].classList.add("active");
    let index = 0;
    setInterval(() => {
    slides[index].classList.remove("active");
    index = (index + 1) % slides.length;
    slides[index].classList.add("active");
    }, 4000); // Cambio cada 4 segundos
    }
    });
    };
</script>


@code {

    List<Item> NewItems = new();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        NewItems = new()
        {
            new Item()
            {
                Id = 1,
                Name = "Temática de Bluey",
                Pictures = new List<string>
                {
                    "https://scontent-qro1-2.cdninstagram.com/v/t51.82787-15/651042965_18075567503386687_2853690870384730235_n.webp?_nc_cat=101&ig_cache_key=Mzg1MDI5Nzg0MjA0NTE0ODg2Mw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=if7Y_TRY_pcQ7kNvwFoS_17&_nc_oc=AdllhqlXe4nSgCNKCDs3VJ0uOKvOE6vvWgP5ziu3gNqggmDUv-31W8KKNK0qhGgOphg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-2.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_AfxTzZmzLn7RFLb187wfVWBbZJfNEs1cTMKACsKZoOoHUg&oe=69B90E29",
                },
                Link="https://www.instagram.com/p/DVvBg-kjqZi/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Nave Espacial & Cohete",
                Pictures = new List<string>
                {
                    "https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/634650483_18073146125386687_4922747945993398757_n.webp?_nc_cat=108&ig_cache_key=MzgzMzU4MzEzNDYwNDg2OTc4Mg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=2IKfyb21zpYQ7kNvwGpOgfO&_nc_oc=AdnRmysrfiIfIjNN1zjIKMtDXfBHWYisONKirOFKeklvPiDw6Dj6yzyAOE98e43SXBE&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_Afx-YwB0EdlQFgcnkpl8eRbhxbl4QITmYwSupKho41NBZA&oe=69B9050A",
                },
                Link="https://www.instagram.com/p/DUzodUljft-/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "San valentín",
                Pictures = new List<string>
                {
                    "https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/629458103_18072202580386687_4786007625232240012_n.webp?_nc_cat=108&ig_cache_key=MzgyNjM1ODkzMDE2MzczNjAwNw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=zkhugTfCv64Q7kNvwECW8jE&_nc_oc=AdnEdpI93iV5Avm85oC8AJOHPZR9HjVEqf5ReNMITGe1SKN5y7ZYzgCWoxGVj67dung&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_AfzgdQD8sYJ3RsjqJo_fP56llM3ghgxQH7EfnGGRKIM0ZA&oe=69B90D22",
                    "https://scontent-qro1-1.cdninstagram.com/v/t51.82787-15/573607364_18063700049386687_992015170958745426_n.webp?_nc_cat=110&ig_cache_key=Mzc2MDQ0NjY0ODAyMDI1NjE3NQ%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=3USW1Ka9A5YQ7kNvwHFJn_c&_nc_oc=Adk9-7-baEEhwr8ZN5f3dCro4czUAqu_R76jJLKR7cwpbp4kMiOgoakxJrmBhDVKCLA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-1.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_AfzwAPgc6L0Jop-Q62Tr9askRrkPrj1E-fb6yVbGMSv-TA&oe=69B8F89B"
                },
                Link="https://www.instagram.com/p/DUZ9ZTwDXh1/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Navideñas",
                Pictures = new List<string>
                {
                    "https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/600834311_18067259900386687_4131072205655889603_n.webp?stp=dst-webp_s640x640&_nc_cat=102&ig_cache_key=Mzc4OTE1NzA5NjQ0MTkxMzUzNw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEwODB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=E9UPzZTtiGcQ7kNvwGYuTCQ&_nc_oc=AdlSbyhCCdIYw9FOwcj63LZFRiXJ8XV7B1PWFbYPwURZM69CX2ZkoYINAEOdqhSIBY4&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_AfxLjb0eVJzQ8h6St3nS_zFEclTRdAYQfMQVOtqRgi46nQ&oe=69B91C1F",
                    "https://scontent-qro1-2.cdninstagram.com/v/t51.82787-15/600574943_18066997928386687_5010181552500511235_n.webp?_nc_cat=101&ig_cache_key=Mzc4NzA4Mzg3MTQ2OTU2MjYzNQ%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=1j7wwOVhxxoQ7kNvwFWbz85&_nc_oc=Adnlqz_kc11MISoJoPGkvYZ3kJfBLUtoGAr2x9EaWp5NRDljX9bdtHt0I7_KM7pem0k&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-2.cdninstagram.com&_nc_gid=WTu4gprG0QfUxfPf9zyTgQ&_nc_ss=8&oh=00_AfwRN6HN8qW9A1QVJQH9-xvgcx6yW7Fim5oF7hLwO8dSGQ&oe=69B90EE6"
                },
                Link="https://www.instagram.com/p/DSVyk2rkiDB/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Dia de muertos & Halloween",
                Pictures = new List<string>
                {
                    "https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/562569141_18060999497386687_7848451962611424970_n.webp?_nc_cat=108&ig_cache_key=Mzc0MDU4ODA0NjUxNDUyNjI3OQ%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=OmCwnEhhFIQQ7kNvwGF_T1X&_nc_oc=Adk6U2hcibx2VEZ3lgnKrz52rh5ppWh7xKPxYhJYz6CPDGXH_lNetXUkPDMhdWpVA5o&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=yh-OzVAlMhYOsBizdA9OWA&_nc_ss=8&oh=00_AfwkQsP2ougVadmTtMiD-qaVWboH3BF-xKcI_Yjv3D6nUQ&oe=69B919F0",
                    "https://scontent-qro1-1.cdninstagram.com/v/t51.82787-15/561827933_18060999509386687_4518085738335998552_n.webp?_nc_cat=110&ig_cache_key=Mzc0MDU4ODA0NjEyMDI2ODMzMg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=fAQo-t4B14gQ7kNvwHSM2yu&_nc_oc=AdnaZPHHBrQe6s42QA0rxfM_Bg8K7oU2qFhNa9cEKvsIdDr13yrTaqlIBpVSz1x8spA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-1.cdninstagram.com&_nc_gid=yh-OzVAlMhYOsBizdA9OWA&_nc_ss=8&oh=00_AfzE9kj-IFQVa7pRn7BVv7DG60P24BhnWdNhzGXLwRetgA&oe=69B92618",
                    "https://scontent-qro3-1.cdninstagram.com/v/t51.82787-15/563987428_18060999518386687_8782028302001383116_n.webp?_nc_cat=106&ig_cache_key=Mzc0MDU4ODA0NjEyMDMxNjU2Ng%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=7-QTGqnxM68Q7kNvwGsuAMs&_nc_oc=AdnZ6TyRQdwbyWLp8o4YMw0Hp4BgGeq9CErPdeo0ZYRmJdB0hYi25-QEYB-gPWgy_tY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro3-1.cdninstagram.com&_nc_gid=yh-OzVAlMhYOsBizdA9OWA&_nc_ss=8&oh=00_AfzJkoBMOxoZq8fKqkWzhN1EQkcN9Vkji_oP-j-TlpQRuQ&oe=69B9118E"
                },
                Link="https://www.instagram.com/p/DPpPQTCknqF/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Pascua",
                Pictures = new List<string>
                {
                    "https://scontent-qro1-1.cdninstagram.com/v/t51.75761-15/491439028_18043066409386687_2137172221516028809_n.webp?stp=dst-webp_s640x640_sh0.08&_nc_cat=103&ig_cache_key=MzYxMTY1MjQ0Mzc0Njg2OTI3Mw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4NzU0LnNkci5DMyJ9&_nc_ohc=PgbW00MurUgQ7kNvwFMwAqD&_nc_oc=Adl7yVPRRtpVmVITrudNp51-mBsOuiLF-U5iNTAzkx1-nGVy1aEq_qDdl6UjGeK17-8&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-qro1-1.cdninstagram.com&_nc_gid=yh-OzVAlMhYOsBizdA9OWA&_nc_ss=8&oh=00_AfygWAmPBNPXh56EZOAK1buIo56kCaekkqoRle8khAkKHw&oe=69B91B22",
                },
                Link="https://www.instagram.com/p/DIfKsMhtCAZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            }
            
        };


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llamamos a JavaScript para activar el observador de scroll y el carrusel
            await JS.InvokeVoidAsync("inicializarCatalogo");
        }
    }
}