@inject IJSRuntime JS

@page "/"
@using chokolocos.Web.Models

<PageTitle>chokolocos</PageTitle>

@* page content *@
<div class="bg-image">
</div>

<div class="container-fluid">
    <img class="rounded mx-auto d-block" src="img\chokolocos_logo.png" alt="logo chokolocos" style="max-height:150px; max-width:90%;" />


    <div class="content">
        <h1 class="sweets-delight display-2">Nuestros mejores productos</h1>
        <hr />
        <div class="row">
            @* item 1 *@

            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/CgIVf4YrHUK/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">
                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="img/cake/turin_1.jpg" class="card-img-top slide active" alt="Item picture" />
                            <img src="img/cake/turin_2.jpg" class="card-img-top slide " alt="Item picture" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Pastel Conejito turin
                            </h5>
                            @*  <button role="button" class="insta-link p-1">
                                <i class="fab fa-instagram "></i>
                                <span class="card-text">
                                    Ver
                                </span>

                            </button> *@
                        </div>
                    </div>
                </a>
            </div>

            @* item 2 *@
            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/CwgPOInvtQC/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">
                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="img/cake/red_velvet_1.jpg" class="card-img-top slide active" alt="Item picture" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Pastel Red Velvet</h5>
                        </div>
                    </div>
                </a>
            </div>

            @* item 3 *@
            <div class="col-lg-4 col-md-6 col-sm-12 reveal">
                <a href="https://www.instagram.com/p/C8no7-XN7ss/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="no-link">

                    <div class="card mb-3">
                        <div class="carrusel d-flex">
                            <img src="img/cake/cupcakes_1.jpg" class="card-img-top slide active" alt="Item picture" />
                            <img src="img/cake/cupcakes_2.jpg" class="card-img-top slide" alt="Item picture" />

                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Cupcakes Personalizados</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        
        <br />
        <h1 class="sweets-delight display-2">Galletas</h1>
        <hr />
        <div class="row">
            @foreach (var item in NewItems)
            {
                <div class="col-lg-3 col-md-4 col-sm-12 reveal">
                    <a href="@item.Link" class="no-link">
                        <div class="card mb-3">
                            <div class="carrusel d-flex">
                                @for (int i = 0; i < item.Pictures.Count; i++)
                                {
                                    <img src="@item.Pictures[i]" class="card-img-top slide @(i == 0 ? "active" : "")" alt="@item.Name" />
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    @item.Name
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>

    
    <hr />
    @* Social *@
    <section class="mt-3">
        <h5 class="text-center">
            Enterate de las novedades y siguenos en nuestras redes
            <img src="https://images.emojiterra.com/google/noto-emoji/animated-emoji/1f49e.gif" class="img-gif" />
        </h5>

        @* links *@
        <div class="d-flex justify-content-center">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #3b5998;" href="https://www.facebook.com/103492021490449" target="_blank">
                <i class="fab fa-facebook-f fa-2x"></i>
            </a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #ac2bac;" href="https://www.instagram.com/choko.locos" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>

            <!-- Tiktok -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #333333;" href="https://www.tiktok.com/@@chokolocos.2" target="_blank">
                <i class="fab fa-tiktok fa-2x"></i>
            </a>

            <!-- Whatsapp -->
            <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #25d366;" href="https://wa.me/15531914321" target="_blank" role="button">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>

        </div>
    </section>

    <section class="row">
        @* Facebook page *@
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
            <span class="d-flex">
                <a href="https://www.facebook.com/103492021490449" class="mx-auto">
                    <h4 class="sweets-delight display-4">Facebook</h4>
                </a>
            </span>
            <iframe src="https://widgets.sociablekit.com/facebook-page-posts/iframe/25662907" frameborder="1" width="100%" height="500px"></iframe>
        </div>

        @* Instagram page *@
        <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
            <span class="d-flex">
                <a href="https://www.instagram.com/choko.locos" class="mx-auto">
                    <h4 class="sweets-delight display-4 ">Instagram</h4>
                </a>
            </span>
            <iframe src="https://widgets.sociablekit.com/instagram-feed/iframe/25662901" frameborder="1" width="100%" height="500px"></iframe>
        </div>
    </section>
    <br />
</div>


<script>
    window.inicializarCatalogo = () => {
    // 1. Animación de Scroll
    const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
    entry.target.classList.add("visible");
    }
    });
    }, { threshold: 0.1 });

    document.querySelectorAll(".reveal").forEach(el => observer.observe(el));

    // 2. Lógica de Carrusel para cada tarjeta
    document.querySelectorAll(".carrusel").forEach(carrusel => {
    const slides = carrusel.querySelectorAll(".slide");
    if (slides.length > 0) {
    slides[0].classList.add("active");
    let index = 0;
    setInterval(() => {
    slides[index].classList.remove("active");
    index = (index + 1) % slides.length;
    slides[index].classList.add("active");
    }, 4000); // Cambio cada 4 segundos
    }
    });
    };
</script>


@code {

    List<Item> NewItems = new();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        NewItems = new()
        {
            new Item()
            {
                Id = 1,
                Name = "Temática de Bluey",
                Pictures = new List<string>
                {
                    "img/cookie/bluey.jpg",
                },
                Link="https://www.instagram.com/p/DVvBg-kjqZi/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Nave Espacial & Cohete",
                Pictures = new List<string>
                {
                    "img/cookie/espacio_1.jpg",
                },
                Link="https://www.instagram.com/p/DUzodUljft-/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "San valentín",
                Pictures = new List<string>
                {
                    "img/cookie/san_valentin_1.jpg",
                    "img/cookie/san_valentin_2.jpg"
                },
                Link="https://www.instagram.com/p/DUZ9ZTwDXh1/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Navideñas",
                Pictures = new List<string>
                {
                    "img/cookie/christmas_1.jpg",
                    "img/cookie/christmas_2.jpg"
                },
                Link="https://www.instagram.com/p/DSVyk2rkiDB/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Dia de muertos & Halloween",
                Pictures = new List<string>
                {
                    "img/cookie/halloween_1.jpg",
                    "img/cookie/halloween_2.jpg",
                    "img/cookie/halloween_3.jpg"
                },
                Link="https://www.instagram.com/p/DPpPQTCknqF/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            },
            new Item()
            {
                Id = 1,
                Name = "Pascua",
                Pictures = new List<string>
                {
                    "img/cookie/easter_1.jpg",
                },
                Link="https://www.instagram.com/p/DIfKsMhtCAZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            }
            
        };


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llamamos a JavaScript para activar el observador de scroll y el carrusel
            await JS.InvokeVoidAsync("inicializarCatalogo");
        }
    }
}