@using chokolocos.Web.Models;
@inject IJSRuntime JS

@page "/home"

<PageTitle>Home</PageTitle>

<script src="components\pages\home.razor.js"></script>

<h3>Top Productos</h3>
<div class="contenedor-catalogo">
    @foreach (var item in Top)
    {
        <div class="tarjeta-articulo reveal">
            <div class="carrusel" data-intervalo="3000">
                @for (int i = 0; i < item.Pictures.Count; i++)
                {
                    <img src="@item.Pictures[i]" class="slide @(i == 0 ? "active" : "")" alt="@item.Name" />
                }
            </div>
            <div class="info">
                <h3>@item.Name</h3>
                <p>ID: @item.Id</p>
            </div>
        </div>
    }
</div>


<h3>Todos nuestros productos</h3>
<div class="contenedor-catalogo">
    @foreach (var item in Catalogo)
    {
        <div class="tarjeta-articulo reveal">
            <div class="carrusel" data-intervalo="3000">
                @for (int i = 0; i < item.Pictures.Count; i++)
                {
                    <img src="@item.Pictures[i]" class="slide @(i == 0 ? "active" : "")" alt="@item.Name" />
                }
            </div>
            <div class="info">
                <h3>@item.Name</h3>
                <p>ID: @item.Id</p>
            </div>
        </div>
    }
</div>




@code {

    private List<Item> Top = new();
    public List<Item> Catalogo = new();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Top = Enumerable.Range(1, 4).Select(i => new Item
        {
            Id = i,
            Name = $"Artículo #{i}",
            Pictures = new List<string>
            {
                "https://sugargeekshow.com/wp-content/uploads/2018/06/gluten-free-cake-featured.jpg",
            }
        }).ToList();

        Catalogo = Enumerable.Range(1, 30).Select(i => new Item
        {
            Id = i,
            Name = $"Artículo #{i}",
            Pictures = new List<string>
        {
            "https://plus.unsplash.com/premium_photo-1690214491960-d447e38d0bd0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "https://images.unsplash.com/photo-1602351447937-745cb720612f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FrZXxlbnwwfHwwfHx8MA%3D%3D",
            "https://images.unsplash.com/photo-1571115177098-24ec42ed204d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        }
        }).ToList();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llamamos a JavaScript para activar el observador de scroll y el carrusel
            await JS.InvokeVoidAsync("inicializarCatalogo");
        }
    }

}